<div class = "alert alert-block alert-info">
<span style = color:red;> <b>LISTS<b/> </span>
<div/>

In [21]:
#list of integers
a = [2,3,2]
list1 = [a,3,5,4,2,6,4,3,2,5,6,7,98]
print(list1)

[[2, 3, 2], 3, 5, 4, 2, 6, 4, 3, 2, 5, 6, 7, 98]

In [26]:
#List of strings
>>> list2 = ['a','r','e','s','g','j','f','france','messi']
>>> print(list2)

['a', 'r', 'e', 's', 'g', 'j', 'f', 'france', 'messi']

In [28]:
#list of mixed data types
list3 = [100, 45, 28.4759, 'Hewo']
print(list3)

[100, 45, 28.4759, 'Hewo']

In [30]:
#Nested list
list4 = [['Chelsea', 54], ['Arsenal',43], ['Donald', 565]]
print(list4)

[['Chelsea', 54], ['Arsenal', 43], ['Donald', 565]]

<div class = "alert alert-block alert-success">
<span style = color:brown;> <b><u>Accessing Elements in a list</u></b> </span>
</div>

In [71]:
l_uno = [[3,45,57],"Davido", 3,5,4,32, "Favour", ['chee', 'Ada', 'Cow']]
print(l_uno[1][1])
print(l_uno[6])
print(l_uno[7])
print(l_uno[7][1])
print(l_uno[7][0][1])
print(l_uno[2+1])
print(l_uno[-1][0])
print(l_uno[-1][-1])
print(l_uno[-1][-2][-2])
n = len(l_uno)
print(n)
print(l_uno[n+3-5])
print(l_uno[-n])

a
Favour
['chee', 'Ada', 'Cow']
Ada
h
5
chee
Cow
d
8
Favour
[3, 45, 57]

<div class= "alert alert-block alert-info">
<span style = color:red;><b><u>Lists are Mutable</u></b><span/>
<div/>

In [78]:
dop = [['Chelsea', 54], ['Arsenal',43], ['Donald', 565]]
dop[1]='Bunny'
dop[2][1]= 'killua'
print(dop)

[['Chelsea', 54], 'Bunny', ['Donald', 'killua']]

## LIST OPERATIONS

### 1. Concatenation

In [80]:
L1 = [1,2,3,4,5]
L2 = [6,7,8,9,10]
L1+L2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Repetition

In [88]:
L3 = [4,64,75,'Haha']
L3*3

[4, 64, 75, 'Haha', 4, 64, 75, 'Haha', 4, 64, 75, 'Haha']

### 3. Membership

In [93]:
list4 = [['Chelsea', 54], ['Arsenal',43], ['Donald', 565]]

In [94]:
54 in list4

False

In [95]:
54 in list4[0]

True

In [99]:
'messi' in list4

False

In [100]:
['Chelsea', 54] in list4

True

In [101]:
['chelsea', 54] in list4

False

In [102]:
['Chelsea', 54] not in list4

False

In [103]:
'messi' not in list4

True

### 4. Slicing

In [104]:
list2

['a', 'r', 'e', 's', 'g', 'j', 'f', 'france', 'messi']

In [106]:
list2[2:6]

['e', 's', 'g', 'j']

In [122]:
list2[2:200]

['e', 's', 'g', 'j', 'f', 'france', 'messi']

In [126]:
list2[7:2]

[]

In [138]:
list2[1:8:2]

['r', 's', 'j', 'france']

In [141]:
list2[1:6:]

['r', 'e', 's', 'g', 'j']

In [143]:
list2[::]

['a', 'r', 'e', 's', 'g', 'j', 'f', 'france', 'messi']

In [144]:
list2[::2]

['a', 'e', 'g', 'f', 'messi']

In [146]:
list2[-6:-2]

['s', 'g', 'j', 'f']

In [151]:
list2[-2:-6:-1]

['france', 'f', 'j', 'g']

In [152]:
list2[7:2:-1]

['france', 'f', 'j', 'g', 's']

## Traversing a List

### (A) List Traversal Using for Loop:

In [161]:
l_duo = [[3,45,57],"Davido", 3,5,4,32, "Favour", ['chee', 'Ada', 'Cow']]

In [162]:
for i in l_duo:
    print(i)

[3, 45, 57]
Davido
3
5
4
32
Favour
['chee', 'Ada', 'Cow']

In [168]:
for i in range(len(l_duo)):
    print(l_duo[i])

[3, 45, 57]
Davido
3
5
4
32
Favour
['chee', 'Ada', 'Cow']

### (B) List Traversal Using while Loop:

In [182]:
l_duo = [[3,45,57],"Davido", 3,5,4,32, "Favour", ['chee', 'Ada', 'Cow']]
i = 0
while i < len(l_duo):
    print(l_duo[i])
    i += 1

[3, 45, 57]
Davido
3
5
4
32
Favour
['chee', 'Ada', 'Cow']